@model IEnumerable<GameZone.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Html.Action("Listar")*@
@*Html.Action("Listar", new { pagina = 2 , registros =10})*@

<div id="listagemDeGames"></div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(configurarControles);

        function configurarControles() {
            $("#listagemDeGames").load("@Url.Action("Listar")");
            //Consome a action e pega o resultado da action e coloca na div
            //é renderizado no final da pagina do _Layout @*RenderSection("scripts", required: false)*@
        }

        var pagina = 1;
        function paginar(valor) {
            var paginaNova = pagina + valor;
            $("#listagemDeGames").load("@Url.Action("Listar")", { pagina: paginaNova });

            pagina = paginaNova;
        }
    </script>
}